 @font-face {
    font-family: "Outfit";
    src: url(./Outfit-VariableFont_wght.ttf);
 }
 
 body {
    font-family: Outfit;
    background-color:  hsl(212, 45%, 89%);
    min-height: 100vh;
    display: grid;
    place-items: center;
}

h1 {
    font-weight: bolder;
    color: hsl(218, 44%, 22%);
    margin-bottom: auto;
}

p {
    font-weight: 400px;
    color: hsl(220, 15%, 55%);
    font-size: 15px;
}

.main {
    box-shadow: 0 4px 8px 0 hsl(212, 45%, 89%);
    transition: 0.3s;
    max-width: 320px;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    background-color: white;
    
}

.main:hover {
    box-shadow: 0 4px 8px 0  hsl(220, 15%, 55%);
}

.container {
    padding: 5px;

}

img {
    border-radius: 20px;
    margin: 20px;
    width: 100%;
    
}

.attribution {
    margin: auto;
    justify-content: center;
}

